/*
		_main.scss	
*/

/*
											--- Variables ---
*/

$color-1: #2d6eb7;	// BLUE
$color-2: #F58833;	// ORANGE
$color-3: #00ffeb;	// AQUA MARIN
$color-4: #ffa800;	// LIGHT ORANGE
$color-5: #008CC7;	// LIGHT ORANGE
$font-family-1: "Verdana";
$font-family-2: "Days";

$color-scroll: $color-2;
$color-footer: #0071BC;

$color-gray_1: #AABFDC;
$color-gray_2: #FAFAFA;
$color-gray_3: #212121;

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}
@mixin modal-center($width, $height) {
	width: $width;
	height: $height;
	margin-left: -+($width/2);
	margin-top: -+($height/2);
  left: 50%;
	top: 50%;
}

@mixin img-circle($width, $height, $mwidth: 120%) {
	.img-circle{
		position: relative;
		overflow: hidden;
		img{
			max-width: $mwidth;
		}
		width: $width;
		height: $height;
	}
}

@mixin table-celling($height) {

	height: $height;
	display: table-cell;
	vertical-align: middle;

}
@mixin table-cellingAdap() {

	@media only screen and ( max-width:991px ){
		display: block;
		height: auto;
		width: 100%;
	}

}

/*
									 --- BOOTSTRAP ---
*/

[class*="col"]{
	padding-left: 0;
	padding-right: 0;
}

.panel-default{
	//background-color: $color-3;
	*, &{
		//border: 0 ;
		//border-color: $color-1;
		border-radius: 0 !important;
	}
	.panel-heading{
		//background-color: $color-2;
		background-color: transparent;

		padding: 0;
		.panel-title{
			text-transform: initial;
			a{
				display: inline-block;
				width: 80%;
				padding: 15px;
			}
			i, span{
				display: inline-block;
				width: 5%;
				font-size: em(20, 16);
				vertical-align: middle;
				//float: right;
			}
			span{
				font-size: 1em;
			}
		}
	}
	.panel-body{
		padding: 15px 30px;
	}
	li{
		margin: 15px 0;
	}
}





/*
									 --- HTML ---
*/




//Scrolling

// CHROME
::-webkit-scrollbar{
	width:5px;
	position: absolute;
}
 ::-webkit-scrollbar-thumb{
 	border-radius: 5px;
 	z-index: 500;
	background-color: lighten($color-scroll, 0%);
}
::-webkit-scrollbar-thumb:hover{
	background-color: darken($color-scroll, 5%);
} 
::-webkit-scrollbar-thumb:active{
	background-color: darken($color-scroll, 10%);
}
::-webkit-scrollbar-track-piece{
	background-color: white;
}
// OPERA
::-o-scrollbar{
	width:5px;
	position: absolute;
}
::-o-scrollbar-thumb{
	z-index: 500;
	border-radius: 5px;
	background-color: lighten($color-scroll, 5%);
}
::-o-scrollbar-thumb:hover{
	background-color: darken($color-scroll, 5%);
} 
::-o-scrollbar-thumb:active{
	background-color: darken($color-scroll, 10%);
}
::-o-scrollbar-track-piece{
	background-color: rgba(white, 0.5);
}
// IE
html{
	-ms-scrollbar-track-color: rgba(0, 0, 0, 0);
	-ms-scrollbar-face-color: $color-scroll;
	-ms-scrollbar-shadow-color: $color-scroll;
	-ms-scrollbar-base-color: lighten($color-scroll, 5%);

	-ms-scroll-translation: vertical-to-horizontal;
	-ms-scroll-snap-type: mandatory;
	-ms-scrollbar-3dlight-color: $color-scroll;
	-ms-scrollbar-darkshadow-color: darken($color-scroll, 5%);
	-ms-scrollbar-highlight-color: transparent;
}
::selection {
    background: $color-1;
    color: #fff;
    text-shadow: none;
}
html{
	//overflow-x: hidden;
	//overflow-y: auto;
}
body{
	-ms-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-size-adjust: none;
	font: 14px $font-family-1;
	overflow-x: hidden;
	//color: white;
	//height: auto !important;
	//background-color: black;
}


p, li, ul, menu{
	//font-weight: unset;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
menuitem{
	display: inline-block;
}
a{
	transition: color 0.2s ease-in-out;
	color: inherit;
}
a:hover, a:active, a:focus{
	text-decoration: none;
}
button:hover, button:active, button:focus{
	outline: 0;
}
button{
	outline: 0;
}
p{
	margin: auto;
	line-height: 110%;
}
img{
	max-width: 100%;
	outline: 0;
}
h1,h2,h3,h4,h5{
	font-family: "Verdana";
	color: inherit;
	line-height: 170%;
}
h4{
	font-size: em(14, 16);
}
h3{
	font-size: em(18, 16);
}
h2{
	font-size: em(24, 16);
}
h1{
	font-size: em(36, 16);

}
article{
	ol{
		margin-top: 15px;
	}
}
ul{
	position: relative;
	list-style: none;
	&:hover{
		cursor: default;
	}
}
input:focus, button:focus{
	outline: transparent;
}
b{
	font-weight: 600;
}
strong{
	font-weight: 700;
}
button:hover, button:focus{
	cursor: pointer;
}
dib{
	display: inline-block;
}





.bg-cover{
	position: relative;
	opacity: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.color-white{
	color: white;
}
.color-black{
	color: black;
}

.color-gray{
	color: $color-gray_1;
}

.color-1{
	color: $color-1;
}
.color-2{
	color: $color-2;
}
.color-3{
	color: $color-3;
}
.color-4{
	color: $color-4;
}


.font-family-1{
	font-family: $font-family-1;
}
.font-family-2{
	font-family: $font-family-2;
}

.bg-color-white{
	background-color: white;
}
.bg-color-black{
	background-color: #333;
}

.bg-color-1{
	background-color: $color-1;
}
.bg-color-2{
	background-color: $color-2;
}
.bg-color-3{
	background-color: $color-3;
}
.bg-color-4{
	background-color: $color-4;
}

.inline-block{
	display: inline-block;
}
.vam{
	vertical-align: middle;
}


.claf{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.fuller{
	height: 100%;
	width: 100%;
	position: absolute;
}

.btn{
	&:focus, &:active{
		outline: none;
	}
}
.btn-res{
	background: transparent;
	border: 0;
	padding: 0;
}

.link-anima{
	position: relative;
	transition:all 0.2s ease-in-out; 
	&::before{
		//z-index: -1;
		@extend .claf;
		width: 0%;
		height: 1px;
		top: initial;
		bottom: 1px;
		border-radius: 15px;
		position: absolute;
		transition:all 0.225s ease-in-out; 
		visibility: hidden;
	}
	&:hover{
		width: 100%;
	}
	&:hover::before{
		@extend .claf;
		width: 100%;
		height: 1px;
		visibility: visible;
	}
}



.btn-style{
	display: block;
	@extend .btn-res;	
	white-space: nowrap;
	text-transform: uppercase;
	text-align: center;
	border-radius: 20px;
	font-family: $font-family-1;
	a{
		line-height: normal;
		padding: 10px 25px;
		display: block;
		position: relative;
	}
	i{
		vertical-align: middle;
	}

}




.btn-def{
	@extend .btn-style;
	color: white;
	background-color: $color-1;
	transition: all 0.3s ease-in-out;
	&:hover{
		background-color: $color-2;
	}
}



.pagination-div{

	.pagination{
		li{
			display: inline-block;
			border-radius: 5px;
			&:hover{
				a{
					color: $color-1;
				}
			}
			a{
				border:1px solid transparent;
				color: white;
				border: 0;
				background-color: transparent;

			}
			&.active{
				&:hover{
					a{
						cursor: pointer;
						background-color: transparent;
					}
				}
				a{
					background-color: transparent;
				}
				border:1px solid $color-1;
			}
		}
	}
}

//LISTING



[class*='list-style']{
	ul{
		margin: 15px 0;
	}
	li{
		margin: auto 15px;
		list-style: disc;
		line-height: 170%;
		list-style-position: outside;
	}
}


.list-style-1{
	ul{
		position: relative;
		li{
			list-style: none;
			list-style-position: outside;
			list-style-image: url('../img/icons/list-icon.jpg');
		}
	}

}

.tp-form-control{
	display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 0.9em;
  border: 1px solid transparent;
  //box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: all 0.3s ease-in-out;
  &:focus{
 		border-color: $color-4;
  	outline: 0;
  	//box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($color-4, 0.8);
  }
  &[disabled]{
		cursor: not-allowed;  
	}
	&::-moz-placeholder { color: #999999;opacity: 1; }
	&:-ms-input-placeholder { color: #999999; }
	&::-webkit-input-placeholder { color: #999999; }
	&::-ms-expand { border: 0;background-color: transparent; }

}



[class*="inlineble"]{
	max-width: 100%;
	text-align: center;
 *{
		text-align: unset;
	}
	figure{
		display: inline-block;
		display: inline-table;
	}
	.img-content.align-center, .desc-content.align-center{
		
		&, *{
			text-align: center;
		}
	}

}












/*
										 --- HEADER ---
*/

$header-top-height: 90px; 
$header-bottom-height: 115px; 
$header-min-menu: 80px;
#header{
	top: 0;
	z-index: 100;
	right: 0;
	left: 0;
	position: relative;
	color: white;
	background-color: $color-1;
}
.header-hidden{
	//position: relative;
	background-color: $color-1;
	height: $header-min-menu;
	@media ( min-width: 991px ){
		display: none;
	}
}


.skin-header-top{
	background-color: $color-1;
	p, strong{
		line-height: 180%;
	}
	i{
		font-size: 20px;
	}
	.i-ls-phone{
		font-size: 20px;	
	}
	.i-ls-mail{
		font-size: 21px;	
	}
}


.logo{
	height: $header-top-height;
	img{
		width: 60px;
	}
	font{
		font-size: 1.4em;
	}
}
.header-search{

	.btn-search{
		position: absolute;
		background-color: $color-4;
		text-align: center;
		padding: 5px 20px;
		top: 0;
		right: 0;
	}
	img{
		width: 20px;
	}
}
.header-search-content{
	position: relative;
	 overflow: hidden;
	input, button{
		border-radius: 60px;
	}
}

.skin-header-bottom{
	background-color: white;
	color: black;
}


.menu{
	//text-align: center;
	height: 115px;
	li{
		display: inline-block;
	}
 	ul > li{
		font-weight: 700;
		font-size: 1em;
		text-transform: uppercase;
		display: inline-block;
		margin: 0 10px;
		//position: relative;
		& > a{
			padding: 50px 30px;
			display: block;
		}

	}

	.fa{
		font-size: 23px;
		color: $color-1;
		vertical-align: sub;
	}

	.sub-menu-1{
		transition: all 0.3s ease-in-out;
		position: absolute;
		background-color: white;
		padding: 10px 10px 20px;
		z-index: -1;

		visibility: hidden;
		transform: matrix(1, 0, 0, 1, 0, -120);
		opacity: 0;

		//display: flex;
		//flex-wrap: wrap;
		li{
			width: 50%;
			font-weight: 400;
			text-transform: none;
			&:hover{
				color: $color-4;
			}
		}
		a{
			padding: 10px 10px;
			margin-top: 10px;
		}
	}

	.sub-figure{
		padding-top: 30px;
		border: 5px solid darken($color-4, 5%);
		transition: all 0.3s ease-in-out;
		position: absolute;
		font-size: 0.9em;

		background-color: $color-4;
		width: 90%;
		left: 0;
		font-weight: 300;
		p{
			text-transform: none;
		}
		&:before{
			@extend .claf;
			background-color: $color-4;
			width: 30px;
			transform: rotate(45deg) matrix(1,0.2,0.2,1,0,0);
			height: 30px;
			left: 50%;
			margin-top: -15px;
			margin-left: -60px;
		}
		figure{
			overflow: hidden;
		}
		.cell-hover{
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    z-index: 1;
		}
		.desc-content{
			height: 125px;
			position: relative;
			z-index: 1;
			padding-right: 40% !important;
		}
		.img-content{
			position: absolute;
			top: 0;
			width: 130px;
			right: 0;
		}
	}


}

.mm-opened{
	.min-menu-header{ 
		opacity: 0;

	}	
}
.min-menu-header{
	transition: all 0.25s ease-in-out;
	opacity: 1;
	width: 100%;
	transform: unset;
	position: fixed;
	top: 0;
  height: $header-min-menu;
  padding: 10px 25px;
	z-index: 100;
	color: white;
	box-shadow: 0 0 20px 0 black;
	background-color: $color-1;
}
.bar{
	width: 60px;
	height: 45px;
	margin-left: auto;
	//margin-right: 25px;
}
.icon-bar{
	width: 100%;
	background-color: white;
	height: 1px;
	position: relative;
	display: block;
	margin: 14px 0;
	&:first-child{
		//margin-top: 14px;
	}
}


// MIN-MENU
.mm-menu.mm-theme-dark{
	background-color: $color-1 !important;
}










// MODAL
.modal-dialog{
		width: 400px;
   // margin: 50px 50wv;
		@media only screen and (max-width: 991px){
			width: 75%;
			margin: 50px auto;
			margin-top: 25%;
			margin-bottom: 5%;
		}
		@media only screen and (max-width: 767px){
			width: 90%;
			margin: 50px auto;
			margin-top: 25%;
			margin-bottom: 5%;
		}

	
	.btn{
		background-color: transparent;
		position: relative;
		float: right;
		display: block;
		color: black;
		width: 60px;
		height: 50px;
		right: -1px;
    top: -1px;
    z-index: 1;
    border-radius: 0 5px;
  	&:active{
  		outline: none;
			box-shadow: inset 0 0 8px;
		}

	}

	.icon-bar{
		background-color: white;
		width: 30px;
		display: inline-block;
    height: 2px;
   	&:nth-child(1){
   		transform: rotate(-135deg) translate(0, 4px);
   	}
   	&:nth-child(2){
   		transform: rotate(135deg) translate(20px, 24px);
   		
   	}

	}
	#success-message, #fail-message{
		text-align: center;
    margin-top: 15px;
    margin-bottom: 35px;
    //padding-bottom: 35px;
	}
}



.modal-content{
	background: black;
	color: white;
}
.modal-body{
	margin-top: 30px;
	@extend .clearfix;
	h1, h2{
		line-height: 20px;
		margin: 0 !important;
	}
}
.modal-footer{
	border: 0;
}
.form-footer{
	margin: 15px 0;
	button{
		padding: 12px 20px;
		margin-left: auto;
		
	}
}



.feedback-modal{
	
	form{
		margin-bottom: 30px;
		label{
			font-size: 0.9em;
			color: $color-1;
		}
		input{
			height: 45px;
			font-size: 1.2em;
		}

		.input{
			width: 100%;
			max-width: initial;
			margin: 0;
			margin-bottom: 5px;
			padding-top: 3em;
			padding-bottom: 0;
			border-radius: 5px;
			input{
				&:focus{
					&~label{
						span{color:$color-1 !important;}
					}
				}
			}
			label:before{
				//height: 2em;
				border-top-color: $color-1;
			}
			textarea~label:before{
				height: 4em;
				border-top-color: $color-1;
			}

		}
		.input--nariko{
			//padding-top: 0.2em;
		}
		.input__field--nariko{
			color: black;
		}
		.textarea{
			display: block;
			margin: 30px 0;
			color: black;
			textarea{
				padding: 0.5em;
				border-top: 5px solid $color-1;
				border-radius:  0 0 8px 8px;
				transition: all 0.3s ease-in-out;
				height: 60px;
				&:focus{
					//height: 60px;
				}
			}
			*{
				width: 100%;
				&:focus{
					outline: none;
				}
			}
		}//textarea



	}

	.modal-content{
		color: $color-1;
		margin-top: 15px;

		@media only screen and (max-width: 991px){
		width: 100%;
		}
		
		@media only screen and (max-width: 767px){

		}


	}
	.modal-body{
		padding: 0 30px;
		@extend .clearfix;
	}

}

.bid-modal{

	form{
		margin-bottom: 30px;
		label{
			font-size: 0.9em;
			color: $color-1;
		}
		input{
			height: 45px;
			font-size: 1.2em;
		}

		.input{
			width: 100%;
			max-width: initial;
			margin: 0;
			margin-bottom: 5px;
			padding-top: 2.3em;
			padding-bottom: 0;
			//border-radius: 5px;
			input{
				&:focus{
					&~label{
						&:before{
							border-top-color: $color-1;
						}
						span{
							color:$color-1 !important;
						}
					}
				}
			}
			label:before{
				//height: 2em;
				border-top-color: $color-1;
			}
			textarea~label:before{
				height: 4em;
				border-top-color: $color-1;
			}
			

		}
		.input--nariko{
			//padding-top: 0.2em;
		}
		.input__field--nariko{
			color: black;
		}
		.textarea{
			display: block;
			margin: 30px 0;
			color: black;
			textarea{
				padding: 0.5em;
				border-top: 5px solid $color-1;
				transition: all 0.3s ease-in-out;
				height: 60px;
				&:focus{
					//height: 60px;
				}
			}
			*{
				width: 100%;
				&:focus{
					outline: none;
				}
			}
		}//textarea
		.btn-def{
			border-radius: 0;
		}


	}

	.modal-content{
		color: $color-1;
		margin-top: 15px;

		@media only screen and (max-width: 991px){
		width: 100%;
		}
		
		@media only screen and (max-width: 767px){

		}


	}
	.modal-body{
		padding: 0 30px;
		@extend .clearfix;
	}

}





//BANNER

#banner{
	@extend .bg-cover;
	transition: all 3s ease-out;
	color: white;
	overflow: hidden;
	background-position: 0 0;
	background-repeat: repeat-y;
	background-size: cover;
	
}
.banner-content{
	@include table-celling( 250px );
	position: relative;
	.breadcrumb{
		padding: 0;
	}
}
.banner-shadow{

	background: linear-gradient(to left, $color-1 ,rgba($color-4, 0.3) );
	height: 100%;
	position: absolute;
	display: block;
	float: left;
	width: 100%;

}


// BREADCRUMP

.breadcrumb{
	background: transparent;
	&, a, .active{ 
		color: rgba(white, 0.5);
		text-transform: uppercase;
		transition: all 0.3s ease-in;
		font-weight: 500;
		font-size: em(16, 16);
		a:hover{
			letter-spacing: 1px;
			text-decoration: none;
			color: white;
		}
	}
	& > li + li:before{

		color: rgba(white, 0.4);
		font-family: FontAwesome;
		content: "\f0da";
		margin:0  15px;
	}
	li{

	}
}



/*
										 --- CONTENT ---
*/

h1{
	position: relative;
	font-weight: 700;
	font-size: em(30, 16);
	padding-bottom: 10px;
	text-align: center;
	text-transform: uppercase;

}
h2{
	text-transform: uppercase;
	font-size: em(25, 16);
}
h3{

	font-size: em(22, 16);
	font-weight: 600;
}
h4{

	font-size: em(18, 16);
	font-weight: 700;
}
h5{
	font-size: inherit;
}
h1, h2, h3, h4{
	margin-top: 10px;
	margin-bottom: 10px;
}
h1, h2, h3, h4, h5{
}
p{
	font-size: em(16, 16);
}
blockquote{
	padding: 0 15px 0 35px;
	border-left: 8px solid;
	h3{
		font-weight: 700;
		line-height: 100%;
		padding: 0;
		margin: 0;
	}
	p{
		font-weight: 600;
		font-size: 0.8em;
	}
}
main{
	overflow: hidden;
	position: relative;
	min-height: 600px;
	color: black;
	p{
		line-height: 170%;
	}

}
.main-content{

}

.bg-mountain, 
.bg-novelties, 
.bg-about
{
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-mountain{
	background-image: url("../img/bg/mountain.jpg");
}
.bg-novelties{
	background-image: url("../img/bg/novelties.jpg");
}
.bg-about{

}


.flex-align-center{
	display: flex;
	align-self: center;
	align-items: center;
	align-content: center;
}
.flex-box{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: row wrap;
	.box{
		display: block;
		justify-content: center;
		align-items: center;
		flex: 4 4;
	}

}




//TEST
.main-content{
	//display: none;
}



.index-slider{
 	overflow: hidden;
}
.page-slider{
	*:before, *:after, *{
 		white-space: normal;
 	}
}
//INDEX SLIDER
.fullscreen-container {
	width:100%;
	position:relative;
	padding:0;
	height: 100%;
}
	.tp-bullets{
		.bullet{
			margin: 0 12px !important;
			background-image: none !important;
			width: 15px !important;
			height: 15px !important;
			background-color: white !important;
			border-radius: 50%;

			&:before{
				@extend .claf;
				border-radius: inherit;
				transform: scale(1.1);
				width: 30px;
				height: 30px;
				left: -7.5px;
				top: -7.5px;
				border: 1px solid transparent;
			}
			&.selected{
				&:before{
					border-color: #3CB1F4;
				}
			}
		}
	}
.rev-slider{
	overflow: hidden;
	.slide-header{
		color: white;
		padding: 0 15px;
		h1, h2, h3{
			white-space: normal;
			line-height: 180%;
		}
		h1{
			position: relative;
  		text-align: justify;
			margin: 0;
			font-size: em(45, 16);
			font-weight: 600;
			letter-spacing: 3px;
		}
		h2{
			position: relative;
			font-weight: 700;
			font-size: em(30, 16);
		}
		p{
			display: inline-block;
			white-space: normal;
			position: relative;
			font-size: em(20, 16);
			//margin-top: 20px;
			line-height: 30px;
		}
		.btn-def{
			margin-top: 30px;
			width: 220px;
		}

	}

	@media (min-width: 992px) {
		.slide-header{
			width: 50%;
		}
		p{
			width: 60%;
		}
	}
	@media (max-width: 991px) {
		text-align: center;
		.slide-header{
			top: 10% !important;
		}
		h1, h2{
			font-size: em(20, 16);
		}
	}

	@media only screen and (max-width: 767px){

	}
}//end

















// GRID IMG PLG
.grid-img {
  //background: #DDD;
}

/* clear fix */
.grid-img:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-img-sizer,
.grid-img-item {
  width: (100/5)+%;
}

.grid-img-item {
  float: left;
}

.grid-img-item img {
  display: block;
  padding: 3px;
  max-width: 100%;
}
























.short-production{

}
.short-production-content{
	.cell-content{
		position: relative;
		background-color: white;
		color: black;
		.desc-content{
			padding: 0 5%;
			align-self: center;
			position: relative;
			text-align: left;
			overflow: hidden;
		}
		.img-content{
			text-align: right;
			img{
				width: 220px;
			}
		}

		&:hover{
			.cell-hover{
				opacity: 1;
			}
			a{
				color: white;
				text-decoration: underline;
			}
		}
	}
	.cell-hover{
		@extend .fuller;
		transition: all 0.3s ease-in-out;
		pointer-events: none;
		opacity: 0;
		background-color: rgba($color-1, 0.8);
	}

}















.short-novelties{

}
.short-novelties-content{
	.img-content{
		width: 100%;
		overflow: hidden;
		img{
			width: 100%;
			transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
			transform: scale(1);
		}
	}
	.screen-content{
		@extend .fuller;
		transition: all 1.1s cubic-bezier(0.4, 0, 0.2, 1);
		z-index: 1;
		opacity: 0.7;
	}
	.desc-content{
		align-self: center;
		width: 100%;
		padding: 0 8%;
		text-align: center;
		position: absolute;
		font-size: 1.6em;
		font-weight: 600;
		z-index: 1;
		color: white;
	}
	figure{
		&:nth-child(3n+1){.screen-content{ background-color: #39aec7; }}
		&:nth-child(3n+2){.screen-content{ background-color: #d89326; }}
		&:nth-child(3n+3){.screen-content{ background-color: #c57e7e; }}
		&:hover{
			.screen-content{ opacity: 0.5;}
			img{
				transform: scale(1.1);
			}
		}
	}
}



















.short-popular{

}
.carousel-popular{


	.carousel-cell{
		height: auto;
		width: (85/4)+%;
		margin: 10px 2.5%;

		transition: box-shadow 0.5s ease-in-out;
		border-radius: 20px;
		//box-shadow: 0 0 0 0 black !important;
		text-align:center;
		.img-content{
			width: 100%;
		}
		transform: scale(0.95);
		&:first-child{
			//margin-left: 10px;	
		}
		&:last-child{
			//margin-right: 10px;
		}

		&:hover{
			box-shadow: 0 0 30px -15px black !important;
		}
		@media (max-width: 991px) {
			width: (90/2)+%;
		}
		@media (max-width: 767px) {
			width: 100%;
		}

	}
	.flickity-viewport{

	}
	.flickity-prev-next-button{
		position: relative;
		left: 50% !important;
		width: 30px;
		height: 50px;
		top: 40px;
		bottom: 0;
		&.previous{
			margin-left: -30px;
		}
		&.next{

		}
	}
}

.price{
	color: $color-4;
	font-size: 2em;
	font-weight: 600;
}
















.short-about{
	@media (max-width: 991px){
		.cov{
			padding: 0;
		}
	}
}
.short-about-content{
	h4{
		text-transform: unset;
		font-size: 1.1em;
	}
	strong{
		font-weight: 900;
	}
	p{
		font-weight: 500;
		font-size: 1em;
	}
	li{
		line-height: 180%;
		margin: 0;
	}
	a{
		color: $color-1;
		&:hover{
			text-decoration: underline;
		}
	}
	.img-content{
		img{
			width: 400px;
    	max-width: unset;
		}
	}
	@media (min-width: 992px){
    .img-content{
    	top: 30px;
    }
	}
}










.short-advantages{}

.short-advantages-content{
	.item{
		//height: 150px;
		&:nth-child(even){
			//float: right;
		}
		img{
			max-width: unset;
			
		}
		.img-content{
			//height: 100px;
			padding: 15px 0;
		}
		.desc-content{
			//height: 150px;
		}
	}
}

































.short-news{

}

.short-news-content{
	figure{
		position: relative;
		overflow: hidden;
		border-radius: 10px;
		width: 293px;
		*{
			transition: all 0.5s ease-in-out;
		}
		&:hover{
			.fig-hover{
				background-color: rgba( lighten($color_1, 5%), 0.8);
				opacity: 1;
				*{
					transform: unset;
				}
			}
			.time{
				transform: translate3d(0%, 100%, 0);
			}
			.circle{
				transform: unset;
				opacity: 1;
			}
		}
		.time{
			position: absolute;
			width: 100%;
			bottom: 0;
		}
		.circle{
			position: absolute;
			$size: 40px;
			font-size: $size;
			margin-top: -$size/2;
			margin-left: -$size/2;
			width: $size; 
			height: $size; 
			border-radius: 50%;
			background-color: white;
			bottom: 10%;
			left: 50%;
			text-align: center;
			transform: translate3d(0, 100%, 0);
			opacity: 0;
			i{
				$size: 15px;
				font-size: $size;
				margin-top: -$size/2;
				margin-left: -$size/2;
				top: 50%;
				left: 50%;
				position: absolute;
				color: $color-5;
			}
		}
	}
	img{
		width: 100%;
	}
}
.fig-hover{
	border-radius: 10px;
	text-align: center;
	padding: 5% 12%;
	transition: all 0.3s ease-in-out;
	position: absolute;
	overflow: hidden;
	background-color: rgba(black, 0.0);
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	align-items: center;
	opacity: 0;

	h4{transform: translate3d(0%, -50%, 0);}
	p:nth-child(odd){transform: translate3d(0, -10%, 0);	}
	p:nth-child(even){transform: translate3d(0, 10%, 0);	}

}
.carousel-news{

	.carousel-cell{
		//height: 100%;
		width: 295px;
		margin: 0 30px;
		//margin-left: 15%;
	}
	.flickity-prev-next-button{
		svg{
			transform: scale(0.85);
		}
	}
	.flickity-page-dots{
		.dot{
			border: 1px solid $color-5;
			background-color: transparent;
			width: 6px; 
			height: 6px;
			margin: 0 3px;
			&.is-selected{
				background-color: $color-5;
			}
		}
	}
	@media (min-width: 992px){

		.carousel-cell{ 
			transform: translateX(-5%); 
			//width: (72/3)+%;
			//margin: 10px 4%;
		}
		.flickity-page-dots{ 
			transform: translateX(-1.5%); 
		}

	}
}

















.short-schema{

}
.short-schema-content{
	font-size: 0.95em;
	.item{
		&:before{
			@extend .claf;
			@extend .fa;
			content: "\f105";
			font-size: 1.8em;
			margin: 15px 0;
			text-align: right;
		}
		&:last-child:before{
			content: "" ;
		}
	}
	@media (max-width: 992px){
		.item:before{
			content: "";
		}
	}
}







.short-feedback{
	input{
		background-color: transparent;
		border: 1px solid white;
		border-radius: 20px;
		height: 45px;
	}
	input, textarea{
		transition: all 0.3s ease-in-out;
		&::-moz-placeholder { color: rgba(white, 0.5);opacity: 1; }
		&:-ms-input-placeholder { color: rgba(white, 0.5); }
		&::-webkit-input-placeholder { color: rgba(white, 0.5); }
		&::-ms-expand { border: 0;background-color: transparent; }
		&:focus{
			border:1px solid rgba(black, 0.2);
		}
	}
	textarea{
		border: 1px solid white;
		border-radius: 20px;
		resize: none;
		padding: 10px;
		background-color: transparent;
		width: 100%;
		height: 200px;
		&:focus{
			outline: none;
		}
	}

	button{
		height: 60px;
		width: 100%;
		background-color: transparent;
		border: 1px solid white;
		&:hover{
			background-color: $color-1;
			border-color: $color-1;
		}
	}

	@media (min-width:992px){
		textarea{
			margin-top: 45px;
		}
	}

}




















/*
										 --- FOOTER ---
*/


#footer{
	background-color: $color-1;
	color: white;
	.footer-logo{
		font-size: 1.4em;
		color: white;
	}
	.footer-menu{
		li{
			width: 100%;
			display: inline-block;
			line-height: 200%;

		}
		.sub-menu{
			//width: 100%;
		}
		.sub-menu-1{
			color: rgba(white, 0.5);
			text-decoration: underline;
			columns: 2;
			li{
				width: 100%;
				display: inherit;
				&:hover{
					//color: $color-2;
					color: white;
				}
			}
		}
	}
	.footer-soc{
	
		li{
			margin: 5px;
			font-size: 25px;
			&:hover{
				color: $color-2;
			}
		}
	}
	@media (min-width: 992px) {
		.footer-logo{
			margin-bottom: 100px;
		}
		.footer-menu{
			height: 300px;
		}
	}
	@media ( max-width: 991px ){
		.footer-soc{
			li{
				margin: 30px 10px;
				display: inline-block;
			}
		}
	}
}




/*
										 --- OTHER ---
*/









	.flickity-prev-next-button{
		&, &:hover, &:focus{
			background-color: transparent;
			.arrow{
				fill: $color-4;
			}
		}
		.arrow{
			fill: $color-1;
		}
		&.previous{
		}
		&.next{

		}
	}









@import "_media.scss"; //------ 	END 	------------------------